<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishSingleFile>true</PublishSingleFile>
    <SelfContained>true</SelfContained>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
    <PublishTrimmed>false</PublishTrimmed>
    <PublishAot>false</PublishAot>
    <Configuration>Release</Configuration>
    <PublishDir>$(MSBuildProjectDirectory)/../publish/win-x64</PublishDir>
  </PropertyGroup>
</Project>
